# Initialization

In [1]:
from pyspark.sql import SparkSession

In [2]:
jdbc_driver_path= "/mnt/c/Asmaa/POSTEGER_DRIVER/postgresql-42.7.5.jar"

In [3]:
spark = SparkSession.builder \
.appName("SalesAnalysis_ETL") \
.config("spark.jars", jdbc_driver_path).getOrCreate()

25/04/10 19:24:19 WARN Utils: Your hostname, Abdelrhman0 resolves to a loopback address: 127.0.1.1; using 10.255.255.254 instead (on interface lo)
25/04/10 19:24:19 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
25/04/10 19:24:20 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [4]:
spark.sparkContext.setLogLevel("OFF")

In [161]:
spark.sparkContext.setLogLevel("ERROR")

In [ ]:
spark.sparkContext.setLogLevel("WARN")

In [5]:
def read_table(table_name):
    return spark.read.format("jdbc") \
        .option("url", "jdbc:postgresql://localhost:5432/olist") \
        .option("dbtable", table_name) \
        .option("user", "asmaa") \
        .option("password", "123") \
        .option("driver", "org.postgresql.Driver") \
        .load()

# Extract

In [6]:
#Add customer df

df_customers = read_table("wsl.customers")
df_customers.show()

+--------------------+--------------------+------------------------+-------------+--------------+------+---+--------------+
|         customer_id|  customer_unique_id|customer_zip_code_prefix|customer_city|customer_state|gender|age|marital_status|
+--------------------+--------------------+------------------------+-------------+--------------+------+---+--------------+
|2ad205cfba7e19108...|1458e8048a02a286a...|                    8562|          poa|            SP|  Male| 64|       Married|
|06b8999e2fba1a1fb...|861eff4711a542e4b...|                   14409|       franca|            SP|Female| 35|       Married|
|19d2fe3e9e67da50d...|3ff45f223bb4d6fc7...|                   24240|      niteroi|            RJ|Female| 64|       Married|
|229755021cdd010bc...|28a9545ffe21521e8...|                   13306|          itu|            SP|  Male| 37|        Single|
|f04018667ff9194bb...|87e5b2ef0c9dd7a45...|                    8473|    sao paulo|            SP|  Male| 39|        Single|
|1158880cb12ee968e...|467bf79ce2396e589...|                    2563|    sao paulo|            SP|Female| 40|       Widowed|
|56cb51bbf3ef8092a...|e9dc105c3da1d2c71...|                    6172|       osasco|            SP|Female| 66|       Widowed|
|49193addee8cc5e2e...|816a9d13b0b4a4c4b...|                   87050|      maringa|            PR|Female| 49|        Single|
|1729d90bd3e74e730...|36f7cbc956469da1d...|                   13210|      jundiai|            SP|  Male| 40|        Single|
|24bffa8e3281713f3...|6883d579dacefc230...|                    8559|          poa|            SP|  Male| 66|       Married|
|a4844df7aea664c48...|39583d496cc15d47b...|                   13050|     campinas|            SP|  Male| 52|        Single|
|2515d9c80d9ef8748...|fce99ffc1d835ef6f...|                   38900|       bambui|            MG|Female| 20|        Single|
|059899061ea126960...|16bd2490eab76fccf...|                   94420|       viamao|            RS|Female| 40|       Married|
|96d841dabf65efd5b...|848eabba326848e81...|                   13207|      jundiai|            SP|Female| 18|        Single|
|ddf9a541cc3f0d595...|27878a3c150b60cf9...|                   72015|     brasilia|            DF|  Male| 28|        Single|
|370b23162b4b1ad33...|41f0f87e7ced16f39...|                   78335|      colniza|            MT|Female| 23|       Married|
|6419daa620ebb5a4d...|b9137cac4c1f714b3...|                   29285|        piuma|            ES|  Male| 40|       Married|
|4bbdd92fc1be04b9a...|d6bb892fd2920399b...|                   53020|       olinda|            PE|  Male| 46|        Single|
|268df4ebbaeefe4a9...|65642d132e2747e10...|                   19600|    rancharia|            SP|Female| 53|       Married|
|349937c1b22f4f6ae...|378c06babf08c70f3...|                   14784|     barretos|            SP|  Male| 18|        Single|
+--------------------+--------------------+------------------------+-------------+--------------+------+---+--------------+
only showing top 20 rows

In [7]:
#Add seller df
df_sellers = read_table("wsl.sellers")
df_sellers.show()

+--------------------+----------------------+-----------------+------------+
|           seller_id|seller_zip_code_prefix|      seller_city|seller_state|
+--------------------+----------------------+-----------------+------------+
|c35affa65afd25015...|                  8050|        sao paulo|          SP|
|ceb7b4fb9401cd378...|                 22790|   rio de janeiro|          RJ|
|e9874ae10b2d60d43...|                 86604|         rolandia|          PR|
|da4d149c0ddbac905...|                  9861|              sbc|          SP|
|e0878efa0e0b7e531...|                 80230|         curitiba|          PR|
|3442f8959a84dea7e...|                 13023|         campinas|          SP|
|d1b65fc7debc3361e...|                 13844|       mogi guacu|          SP|
|ce3ad9de960102d06...|                 20031|   rio de janeiro|          RJ|
|c0f3eea2e14555b6f...|                  4195|        sao paulo|          SP|
|51a04a8a6bdcb23de...|                 12914|braganca paulista|          SP|
|c240c4061717ac180...|                 20920|   rio de janeiro|          RJ|
|e49c26c3edfa46d22...|                 55325|           brejao|          PE|
|1b938a7ec6ac5061a...|                 16304|        penapolis|          SP|
|768a86e36ad6aae3d...|                  1529|        sao paulo|          SP|
|ccc4bbb5f32a6ab2b...|                 80310|         curitiba|          PR|
|8cb7c5ddf41f4d506...|                 75110|         anapolis|          GO|
|a7a9b880c49781da6...|                 13530|        itirapina|          SP|
|8bd0f31cf0a614c65...|                  1222|        sao paulo|          SP|
|05a48cc8859962767...|                  5372|        sao paulo|          SP|
|7b8e8ec35bad4b0ef...|                 88705|          tubarao|          SC|
+--------------------+----------------------+-----------------+------------+
only showing top 20 rows

In [8]:
#Add geo df
df_geo = read_table("wsl.geolocation")
df_geo.show()

+---------------------------+---------------+---------------+----------------+-----------------+
|geolocation_zip_code_prefix|geolocation_lat|geolocation_lng|geolocation_city|geolocation_state|
+---------------------------+---------------+---------------+----------------+-----------------+
|                       1037|   -23.54562128|   -46.63929205|       sao paulo|               SP|
|                       1046|   -23.54608113|    -46.6448203|       sao paulo|               SP|
|                       1041|   -23.54439216|   -46.63949931|       sao paulo|               SP|
|                       1035|   -23.54157796|   -46.64160722|       sao paulo|               SP|
|                       1012|    -23.5477623|   -46.63536054|       s√£o paulo|               SP|
|                       1047|   -23.54627311|   -46.64122517|       sao paulo|               SP|
|                       1013|   -23.54692321|    -46.6342637|       sao paulo|               SP|
|                       1029|   -23.54376906|   -46.63427784|       sao paulo|               SP|
|                       1011|   -23.54763955|   -46.63603162|       sao paulo|               SP|
|                       1032|    -23.5384181|   -46.63477838|       sao paulo|               SP|
|                       1014|   -23.54643534|   -46.63383023|       sao paulo|               SP|
|                       1039|   -23.54188301|   -46.63991947|       sao paulo|               SP|
|                       1024|   -23.54138952|   -46.62989909|       s√£o paulo|               SP|
|                       1009|    -23.5469354|   -46.63658793|       sao paulo|               SP|
|                       1020|   -23.55223547|   -46.62844066|       s√£o paulo|               SP|
|                       1043|   -23.54665672|   -46.64078762|       s√£o paulo|               SP|
|                       1050|   -23.54977352|   -46.64559901|       sao paulo|               SP|
|                       1045|   -23.54159376|   -46.64189379|       sao paulo|               SP|
|                       1007|   -23.55039252|   -46.63730164|       sao paulo|               SP|
|                       1005|   -23.54981909|   -46.63560589|       sao paulo|               SP|
+---------------------------+---------------+---------------+----------------+-----------------+
only showing top 20 rows

# EDA

- show schema

In [104]:
df_geo.printSchema()

root
 |-- geolocation_zip_code_prefix: integer (nullable = true)
 |-- geolocation_lat: double (nullable = true)
 |-- geolocation_lng: double (nullable = true)
 |-- geolocation_city: string (nullable = true)
 |-- geolocation_state: string (nullable = true)

In [105]:
df_geo.columns

['geolocation_zip_code_prefix',
 'geolocation_lat',
 'geolocation_lng',
 'geolocation_city',
 'geolocation_state']

In [106]:
df_customers.printSchema()

root
 |-- customer_id: string (nullable = true)
 |-- customer_unique_id: string (nullable = true)
 |-- customer_zip_code_prefix: integer (nullable = true)
 |-- customer_city: string (nullable = true)
 |-- customer_state: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- marital_status: string (nullable = true)

In [107]:
df_sellers.printSchema()

root
 |-- seller_id: string (nullable = true)
 |-- seller_zip_code_prefix: integer (nullable = true)
 |-- seller_city: string (nullable = true)
 |-- seller_state: string (nullable = true)

- Show Nulls

In [164]:
from pyspark.sql.functions import col, isnan, when, count

df_customers.select([count(when(col(c).isNull() | isnan(c), c)).alias(c) for c in df_customers.columns]).show()

[Stage 369:>                                                        (0 + 1) / 1]

+-----------+------------------+------------------------+-------------+--------------+------+---+--------------+
|customer_id|customer_unique_id|customer_zip_code_prefix|customer_city|customer_state|gender|age|marital_status|
+-----------+------------------+------------------------+-------------+--------------+------+---+--------------+
|          0|                 0|                       0|            0|             0|     0|  0|             0|
+-----------+------------------+------------------------+-------------+--------------+------+---+--------------+

In [109]:
from pyspark.sql.functions import col, isnan, when, count

df_geo.select([count(when(col(c).isNull() | isnan(c), c)).alias(c) for c in df_geo.columns]).show()

+---------------------------+---------------+---------------+----------------+-----------------+
|geolocation_zip_code_prefix|geolocation_lat|geolocation_lng|geolocation_city|geolocation_state|
+---------------------------+---------------+---------------+----------------+-----------------+
|                          0|              0|              0|               0|                0|
+---------------------------+---------------+---------------+----------------+-----------------+

In [110]:
df_sellers.select([count(when(col(c).isNull() | isnan(c), c)).alias(c) for c in df_sellers.columns]).show()

+---------+----------------------+-----------+------------+
|seller_id|seller_zip_code_prefix|seller_city|seller_state|
+---------+----------------------+-----------+------------+
|        0|                     0|          0|           0|
+---------+----------------------+-----------+------------+

- Summary Statistics

In [111]:
# spark.conf.set("spark.sql.debug.maxToStringFields", 1000)

In [112]:
df_customers.describe().show()

[Stage 208:>                                                        (0 + 1) / 1]

+-------+--------------------+--------------------+------------------------+-------------------+--------------+------+------------------+--------------+
|summary|         customer_id|  customer_unique_id|customer_zip_code_prefix|      customer_city|customer_state|gender|               age|marital_status|
+-------+--------------------+--------------------+------------------------+-------------------+--------------+------+------------------+--------------+
|  count|               99441|               99441|                   99441|              99441|         99441| 99441|             99441|         99441|
|   mean|                null|                null|       35137.47458291851|               null|          null|  null| 43.97144035156525|          null|
| stddev|                null|                null|       29797.93899620611|               null|          null|  null|15.289492896330373|          null|
|    min|00012a2ce6f8dcda2...|0000366f3b9a7992b...|                    1003|abadia dos dourados|            AC|Female|                18|      Divorced|
|    max|ffffe8b65bbe3087b...|ffffd2657e2aad290...|                   99990|             zortea|            TO|  Male|                70|       Widowed|
+-------+--------------------+--------------------+------------------------+-------------------+--------------+------+------------------+--------------+

In [113]:
df_sellers.describe().show()

+-------+--------------------+----------------------+---------------+------------+
|summary|           seller_id|seller_zip_code_prefix|    seller_city|seller_state|
+-------+--------------------+----------------------+---------------+------------+
|  count|                3095|                  3095|           3095|        3095|
|   mean|                null|    32291.059450726978|           null|        null|
| stddev|                null|    32713.453829508988|           null|        null|
|    min|0015a82c2db000af6...|                  1001|abadia de goias|          AC|
|    max|ffff564a4f9085cd2...|                 99730|          xaxim|          SP|
+-------+--------------------+----------------------+---------------+------------+

In [114]:
df_geo.describe().show()

+-------+---------------------------+------------------+------------------+----------------+-----------------+
|summary|geolocation_zip_code_prefix|   geolocation_lat|   geolocation_lng|geolocation_city|geolocation_state|
+-------+---------------------------+------------------+------------------+----------------+-----------------+
|  count|                      19177|             19177|             19177|           19177|            19177|
|   mean|          42852.03994368254|-18.90105810758131|-45.66892790017814|            null|             null|
| stddev|          30884.10668417943| 7.494320082727903| 6.817455811523201|            null|             null|
|    min|                       1001|      -36.60537441|       -72.9272963| abadia de goias|               AC|
|    max|                      99990|       42.18400274|       121.1053938|          zortea|               TO|
+-------+---------------------------+------------------+------------------+----------------+-----------------+

- Count Distinct Values

In [115]:
df_customers.select("customer_city").distinct().count()

4119

In [116]:
df_customers.select("customer_state").distinct().count()

27

In [117]:
df_customers.select("customer_zip_code_prefix").distinct().count()

14994

In [118]:
df_geo.select("geolocation_zip_code_prefix").distinct().count()

19177

In [119]:
df_geo.select("geolocation_city").distinct().count()

5813

In [120]:
df_sellers.select("seller_zip_code_prefix").distinct().count()

2246

In [121]:
df_sellers.select("seller_city").distinct().count()

609

In [122]:
df_sellers.select("seller_state").distinct().count()

23

- Aggregation

In [123]:
df_customers.groupBy("Gender").agg({"Age": "mean"}).show()

+------+------------------+
|Gender|          avg(Age)|
+------+------------------+
|Female|43.948033670214194|
|  Male|44.041755586873364|
+------+------------------+

In [124]:
df_customers.groupBy("customer_unique_id").agg({"customer_id": "count"}).show()

+--------------------+------------------+
|  customer_unique_id|count(customer_id)|
+--------------------+------------------+
|861eff4711a542e4b...|                 1|
|e607ede0e63436308...|                 1|
|28da048f094c0c9cb...|                 1|
|212c759d8c4f2d4d9...|                 1|
|f96176e892232662d...|                 1|
|000c8bdb58a29e711...|                 1|
|9ccbb5f759db041b2...|                 1|
|4b384b778ebc0449d...|                 2|
|4df43d4c7d3a093a5...|                 1|
|4be1583defacacfea...|                 1|
|c85df1c6ef6f7bb60...|                 2|
|1a3d1e8b28c0ee27c...|                 1|
|2a6ef69674d6f2800...|                 1|
|2d6d1699603a346a2...|                 1|
|5b71ca52f13f79c2b...|                 2|
|9a176d6883a469743...|                 1|
|dfe634d4b8e067879...|                 1|
|5f439c10be261b762...|                 1|
|cbe71e4cb0b82b97b...|                 2|
|782d02110160b9efd...|                 1|
+--------------------+------------------+
only showing top 20 rows

In [125]:
df_customers.groupBy("customer_city").count().show()

+--------------------+-----+
|       customer_city|count|
+--------------------+-----+
|            camacari|   61|
|           arapiraca|   29|
|           itaberaba|   10|
|           igrejinha|   17|
|  aguas de sao pedro|    3|
|            vermelho|    1|
|                pote|    3|
|jijoca de jericoa...|    4|
|            barracao|    3|
|                iepe|    5|
|divino das laranj...|    1|
|divino de sao lou...|    1|
|              bacaxa|    1|
|   redencao da serra|    1|
|            itanhaem|   80|
|       astolfo dutra|   11|
|             brusque|   60|
|           boa vista|   45|
|  cachoeira paulista|   25|
|            guaranta|    5|
+--------------------+-----+
only showing top 20 rows

In [126]:
df_customers.groupBy("customer_city").count().orderBy("count", ascending=False).show()

+--------------------+-----+
|       customer_city|count|
+--------------------+-----+
|           sao paulo|15540|
|      rio de janeiro| 6882|
|      belo horizonte| 2773|
|            brasilia| 2131|
|            curitiba| 1521|
|            campinas| 1444|
|        porto alegre| 1379|
|            salvador| 1245|
|           guarulhos| 1189|
|sao bernardo do c...|  938|
|             niteroi|  849|
|         santo andre|  797|
|              osasco|  746|
|              santos|  713|
|             goiania|  692|
| sao jose dos campos|  691|
|           fortaleza|  654|
|            sorocaba|  633|
|              recife|  613|
|       florianopolis|  570|
+--------------------+-----+
only showing top 20 rows

In [127]:
df_customers.filter(df_customers.customer_city.isin("sao paulo", "S√£o Paulo")) \
    .groupBy("customer_city").count() \
    .orderBy("count", ascending=False).show()

+-------------+-----+
|customer_city|count|
+-------------+-----+
|    sao paulo|15540|
+-------------+-----+

In [128]:
df_geo.filter(df_geo.geolocation_city.isin("sao paulo", "s√£o paulo")) \
    .groupBy("geolocation_city").count() \
    .orderBy("count", ascending=False).show()

#did not see it too -->> because case sensitive now ok!
#'√£' --> need to transform all this letters

+----------------+-----+
|geolocation_city|count|
+----------------+-----+
|       sao paulo| 3183|
+----------------+-----+

In [129]:
df_customers.filter(df_customers.customer_city.isin("sao paulo", "s√£o paulo")) \
    .groupBy("customer_city").count() \
    .orderBy("count", ascending=False).show()

+-------------+-----+
|customer_city|count|
+-------------+-----+
|    sao paulo|15540|
+-------------+-----+

In [130]:
df_sellers.filter(df_sellers.seller_city.isin("sao paulo", "s√£o paulo")) \
    .groupBy("seller_city").count() \
    .orderBy("count", ascending=False).show()

+-----------+-----+
|seller_city|count|
+-----------+-----+
|  sao paulo|  695|
+-----------+-----+

In [131]:
df_customers.groupBy("Gender").count().show()

+------+-----+
|Gender|count|
+------+-----+
|Female|74606|
|  Male|24835|
+------+-----+

In [132]:
df_customers.groupBy("customer_unique_id").agg({"customer_id": "count"}).show()

+--------------------+------------------+
|  customer_unique_id|count(customer_id)|
+--------------------+------------------+
|861eff4711a542e4b...|                 1|
|e607ede0e63436308...|                 1|
|28da048f094c0c9cb...|                 1|
|212c759d8c4f2d4d9...|                 1|
|f96176e892232662d...|                 1|
|000c8bdb58a29e711...|                 1|
|9ccbb5f759db041b2...|                 1|
|4b384b778ebc0449d...|                 2|
|4df43d4c7d3a093a5...|                 1|
|4be1583defacacfea...|                 1|
|c85df1c6ef6f7bb60...|                 2|
|1a3d1e8b28c0ee27c...|                 1|
|2a6ef69674d6f2800...|                 1|
|2d6d1699603a346a2...|                 1|
|5b71ca52f13f79c2b...|                 2|
|9a176d6883a469743...|                 1|
|dfe634d4b8e067879...|                 1|
|5f439c10be261b762...|                 1|
|cbe71e4cb0b82b97b...|                 2|
|782d02110160b9efd...|                 1|
+--------------------+------------------+
only showing top 20 rows

In [133]:
customer_by_zip_df = df_customers.groupBy("customer_zip_code_prefix").agg(count("customer_id").alias("customer_count"))
customer_by_zip_df.show()

+------------------------+--------------+
|customer_zip_code_prefix|customer_count|
+------------------------+--------------+
|                   29285|            17|
|                   20735|            37|
|                   18051|            22|
|                   13840|            12|
|                   12940|            21|
|                    6397|             4|
|                   26087|            15|
|                   70355|             3|
|                   74820|             5|
|                   31035|            30|
|                    7240|            16|
|                    4935|             3|
|                   18800|            19|
|                   95080|             8|
|                    2122|             7|
|                    4101|             5|
|                   62680|             5|
|                    2366|             4|
|                   89874|            10|
|                   66010|             2|
+------------------------+--------------+
only showing top 20 rows

# Transformation

- Customer transformation

In [10]:
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number

#Add SK column
windowSpec = Window.orderBy("customer_id")
df_with_sk = df_customers.withColumn("customer_SK", row_number().over(windowSpec))
df_with_sk.show()

+--------------------+--------------------+------------------------+--------------------+--------------+------+---+--------------+-----------+
|         customer_id|  customer_unique_id|customer_zip_code_prefix|       customer_city|customer_state|gender|age|marital_status|customer_SK|
+--------------------+--------------------+------------------------+--------------------+--------------+------+---+--------------+-----------+
|00012a2ce6f8dcda2...|248ffe10d632bebe4...|                    6273|              osasco|            SP|Female| 46|       Married|          1|
|000161a058600d590...|b0015e09bb4b6e47c...|                   35550|         itapecerica|            MG|  Male| 57|       Married|          2|
|0001fd6190edaaf88...|94b11d37cd61cb299...|                   29830|        nova venecia|            ES|Female| 40|       Married|          3|
|0002414f953443074...|4893ad4ea28b2c5b3...|                   39664|            mendonca|            MG|Female| 26|       Married|          4|
|000379cdec6255224...|0b83f73b19c2019e1...|                    4841|           sao paulo|            SP|  Male| 43|       Married|          5|
|0004164d20a9e969a...|104bdb7e6a6cdceaa...|                   13272|            valinhos|            SP|Female| 41|       Married|          6|
|000419c5494106c30...|14843983d4a159080...|                   24220|             niteroi|            RJ|Female| 20|        Single|          7|
|00046a560d407e99b...|0b5295fc9819d831f...|                   20540|      rio de janeiro|            RJ|Female| 55|       Married|          8|
|00050bf6e01e69d5c...|e3cf594a99e810f58...|                   98700|                ijui|            RS|Female| 37|        Single|          9|
|000598caf2ef41174...|7e0516b486e92ed3f...|                   35540|            oliveira|            MG|Female| 54|        Single|         10|
|0005aefbb696d34b3...|616309b2eeb7bd9c0...|                    3052|           sao paulo|            SP|Female| 21|        Single|         11|
|00062b33cb9f6fe97...|f90f55ee274a4ae21...|                    2306|           sao paulo|            SP|Female| 68|      Divorced|         12|
|00066ccbe787a588c...|15090f48004f3b0fc...|                   93525|       novo hamburgo|            RS|Female| 52|       Married|         13|
|00072d033fe2e5906...|b7c13491fd2aecd93...|                   45026|vitoria da conquista|            BA|Female| 62|        Single|         14|
|0009a69b72033b2d0...|fa30145b07cad8e97...|                   13106|            campinas|            SP|Female| 56|       Married|         15|
|000bf8121c3412d30...|1bc9b2dad6aefbfbc...|                   12335|             jacarei|            SP|  Male| 33|        Single|         16|
|000e943451fc2788c...|d73c3cf4a0922ece1...|                   99460|            colorado|            RS|Female| 54|       Married|         17|
|000f17e290c26b285...|74541fbb7526dabec...|                   98400|frederico westphalen|            RS|Female| 68|        Single|         18|
|000fd45d6fedae68f...|cee6fa72fb403ef95...|                   12970|            piracaia|            SP|Female| 35|        Single|         19|
|0010068a73b7c56da...|03dabd77cb0ed7a26...|                   63680|             parambu|            CE|Female| 43|        Single|         20|
+--------------------+--------------------+------------------------+--------------------+--------------+------+---+--------------+-----------+
only showing top 20 rows

In [11]:
# Get all column names, move 'sk' to the front
cols = df_with_sk.columns
cols = ['customer_SK'] + [col for col in cols if col != 'customer_SK']

# Reorder the DataFrame
df_reordered = df_with_sk.select(cols)
df_reordered.show()

+-----------+--------------------+--------------------+------------------------+--------------------+--------------+------+---+--------------+
|customer_SK|         customer_id|  customer_unique_id|customer_zip_code_prefix|       customer_city|customer_state|gender|age|marital_status|
+-----------+--------------------+--------------------+------------------------+--------------------+--------------+------+---+--------------+
|          1|00012a2ce6f8dcda2...|248ffe10d632bebe4...|                    6273|              osasco|            SP|Female| 46|       Married|
|          2|000161a058600d590...|b0015e09bb4b6e47c...|                   35550|         itapecerica|            MG|  Male| 57|       Married|
|          3|0001fd6190edaaf88...|94b11d37cd61cb299...|                   29830|        nova venecia|            ES|Female| 40|       Married|
|          4|0002414f953443074...|4893ad4ea28b2c5b3...|                   39664|            mendonca|            MG|Female| 26|       Married|
|          5|000379cdec6255224...|0b83f73b19c2019e1...|                    4841|           sao paulo|            SP|  Male| 43|       Married|
|          6|0004164d20a9e969a...|104bdb7e6a6cdceaa...|                   13272|            valinhos|            SP|Female| 41|       Married|
|          7|000419c5494106c30...|14843983d4a159080...|                   24220|             niteroi|            RJ|Female| 20|        Single|
|          8|00046a560d407e99b...|0b5295fc9819d831f...|                   20540|      rio de janeiro|            RJ|Female| 55|       Married|
|          9|00050bf6e01e69d5c...|e3cf594a99e810f58...|                   98700|                ijui|            RS|Female| 37|        Single|
|         10|000598caf2ef41174...|7e0516b486e92ed3f...|                   35540|            oliveira|            MG|Female| 54|        Single|
|         11|0005aefbb696d34b3...|616309b2eeb7bd9c0...|                    3052|           sao paulo|            SP|Female| 21|        Single|
|         12|00062b33cb9f6fe97...|f90f55ee274a4ae21...|                    2306|           sao paulo|            SP|Female| 68|      Divorced|
|         13|00066ccbe787a588c...|15090f48004f3b0fc...|                   93525|       novo hamburgo|            RS|Female| 52|       Married|
|         14|00072d033fe2e5906...|b7c13491fd2aecd93...|                   45026|vitoria da conquista|            BA|Female| 62|        Single|
|         15|0009a69b72033b2d0...|fa30145b07cad8e97...|                   13106|            campinas|            SP|Female| 56|       Married|
|         16|000bf8121c3412d30...|1bc9b2dad6aefbfbc...|                   12335|             jacarei|            SP|  Male| 33|        Single|
|         17|000e943451fc2788c...|d73c3cf4a0922ece1...|                   99460|            colorado|            RS|Female| 54|       Married|
|         18|000f17e290c26b285...|74541fbb7526dabec...|                   98400|frederico westphalen|            RS|Female| 68|        Single|
|         19|000fd45d6fedae68f...|cee6fa72fb403ef95...|                   12970|            piracaia|            SP|Female| 35|        Single|
|         20|0010068a73b7c56da...|03dabd77cb0ed7a26...|                   63680|             parambu|            CE|Female| 43|        Single|
+-----------+--------------------+--------------------+------------------------+--------------------+--------------+------+---+--------------+
only showing top 20 rows

In [12]:
from pyspark.sql.functions import when, col, rand
from pyspark.sql.types import IntegerType
import random

In [13]:
#Map abbreviations to full state names
df_full_state = df_reordered.withColumn("customer_state_full",
    when(col("customer_state") == "AC", "Acre")
    .when(col("customer_state") == "AL", "Alagoas")
    .when(col("customer_state") == "AP", "Amapa")
    .when(col("customer_state") == "AM", "Amazonas")
    .when(col("customer_state") == "BA", "Bahia")
    .when(col("customer_state") == "CE", "Ceara")
    .when(col("customer_state") == "DF", "Distrito Federal")
    .when(col("customer_state") == "ES", "Espirito Santo")
    .when(col("customer_state") == "GO", "Goias")
    .when(col("customer_state") == "MA", "Maranhao")
    .when(col("customer_state") == "MT", "Mato Grosso")
    .when(col("customer_state") == "MS", "Mato Grosso do Sul")
    .when(col("customer_state") == "MG", "Minas Gerais")
    .when(col("customer_state") == "PA", "Para")
    .when(col("customer_state") == "PB", "Paraiba")
    .when(col("customer_state") == "PR", "Parana")
    .when(col("customer_state") == "PE", "Pernambuco")
    .when(col("customer_state") == "PI", "Piaui")
    .when(col("customer_state") == "RJ", "Rio de Janeiro")
    .when(col("customer_state") == "RN", "Rio Grande do Norte")
    .when(col("customer_state") == "RS", "Rio Grande do Sul")
    .when(col("customer_state") == "RO", "Rondonia")
    .when(col("customer_state") == "RR", "Roraima")
    .when(col("customer_state") == "SC", "Santa Catarina")
    .when(col("customer_state") == "SP", "Sao Paulo")
    .when(col("customer_state") == "SE", "Sergipe")
    .when(col("customer_state") == "TO", "Tocantins")
)

In [14]:
df_full_state.show()

+-----------+--------------------+--------------------+------------------------+--------------------+--------------+------+---+--------------+-------------------+
|customer_SK|         customer_id|  customer_unique_id|customer_zip_code_prefix|       customer_city|customer_state|gender|age|marital_status|customer_state_full|
+-----------+--------------------+--------------------+------------------------+--------------------+--------------+------+---+--------------+-------------------+
|          1|00012a2ce6f8dcda2...|248ffe10d632bebe4...|                    6273|              osasco|            SP|Female| 46|       Married|          Sao Paulo|
|          2|000161a058600d590...|b0015e09bb4b6e47c...|                   35550|         itapecerica|            MG|  Male| 57|       Married|       Minas Gerais|
|          3|0001fd6190edaaf88...|94b11d37cd61cb299...|                   29830|        nova venecia|            ES|Female| 40|       Married|     Espirito Santo|
|          4|0002414f953443074...|4893ad4ea28b2c5b3...|                   39664|            mendonca|            MG|Female| 26|       Married|       Minas Gerais|
|          5|000379cdec6255224...|0b83f73b19c2019e1...|                    4841|           sao paulo|            SP|  Male| 43|       Married|          Sao Paulo|
|          6|0004164d20a9e969a...|104bdb7e6a6cdceaa...|                   13272|            valinhos|            SP|Female| 41|       Married|          Sao Paulo|
|          7|000419c5494106c30...|14843983d4a159080...|                   24220|             niteroi|            RJ|Female| 20|        Single|     Rio de Janeiro|
|          8|00046a560d407e99b...|0b5295fc9819d831f...|                   20540|      rio de janeiro|            RJ|Female| 55|       Married|     Rio de Janeiro|
|          9|00050bf6e01e69d5c...|e3cf594a99e810f58...|                   98700|                ijui|            RS|Female| 37|        Single|  Rio Grande do Sul|
|         10|000598caf2ef41174...|7e0516b486e92ed3f...|                   35540|            oliveira|            MG|Female| 54|        Single|       Minas Gerais|
|         11|0005aefbb696d34b3...|616309b2eeb7bd9c0...|                    3052|           sao paulo|            SP|Female| 21|        Single|          Sao Paulo|
|         12|00062b33cb9f6fe97...|f90f55ee274a4ae21...|                    2306|           sao paulo|            SP|Female| 68|      Divorced|          Sao Paulo|
|         13|00066ccbe787a588c...|15090f48004f3b0fc...|                   93525|       novo hamburgo|            RS|Female| 52|       Married|  Rio Grande do Sul|
|         14|00072d033fe2e5906...|b7c13491fd2aecd93...|                   45026|vitoria da conquista|            BA|Female| 62|        Single|              Bahia|
|         15|0009a69b72033b2d0...|fa30145b07cad8e97...|                   13106|            campinas|            SP|Female| 56|       Married|          Sao Paulo|
|         16|000bf8121c3412d30...|1bc9b2dad6aefbfbc...|                   12335|             jacarei|            SP|  Male| 33|        Single|          Sao Paulo|
|         17|000e943451fc2788c...|d73c3cf4a0922ece1...|                   99460|            colorado|            RS|Female| 54|       Married|  Rio Grande do Sul|
|         18|000f17e290c26b285...|74541fbb7526dabec...|                   98400|frederico westphalen|            RS|Female| 68|        Single|  Rio Grande do Sul|
|         19|000fd45d6fedae68f...|cee6fa72fb403ef95...|                   12970|            piracaia|            SP|Female| 35|        Single|          Sao Paulo|
|         20|0010068a73b7c56da...|03dabd77cb0ed7a26...|                   63680|             parambu|            CE|Female| 43|        Single|              Ceara|
+-----------+--------------------+--------------------+------------------------+--------------------+--------------+------+---+--------------+-------------------+
only showing top 20 rows

In [15]:
!pip install unidecode

Requirement already satisfied: unidecode in ./jupyter_venv/lib/python3.12/site-packages (1.3.8)

In [16]:
from unidecode import unidecode
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType

In [17]:
def remove_accents(text):
    if text is not None:
        return unidecode(text)
    return None

remove_accents_udf = udf(remove_accents, StringType())

In [18]:
#To validate the other cities  :

df_full_state = df_full_state.withColumn("customer_city", remove_accents_udf("customer_city"))

In [19]:
df_full_state.filter(df_full_state.customer_city.isin("sao paulo", "s√£o paulo")) \ 
    .groupBy("customer_city").count() \
    .orderBy("count", ascending=False).show()

SyntaxError: unexpected character after line continuation character (1947774362.py, line 1)

- Geo df transformation

In [20]:
df_geo = df_geo.withColumn("geolocation_city", remove_accents_udf("geolocation_city"))

In [21]:
df_geo.filter(df_geo.geolocation_city.isin("sao paulo", "s√£o paulo")) \
    .groupBy("geolocation_city").count() \
    .orderBy("count", ascending=False).show()
#this worked

+----------------+-----+
|geolocation_city|count|
+----------------+-----+
|       sao paulo| 3183|
+----------------+-----+

In [22]:
# Join Customer(after transformation) with geo
joined_customer_geo_df = df_full_state.join(df_geo.select('geolocation_zip_code_prefix','geolocation_lat','geolocation_lng'), df_full_state["customer_zip_code_prefix"] == df_geo["geolocation_zip_code_prefix"], "left")

In [23]:
joined_customer_geo_df.show()

+-----------+--------------------+--------------------+------------------------+--------------------+--------------+------+---+--------------+-------------------+---------------------------+---------------+---------------+
|customer_SK|         customer_id|  customer_unique_id|customer_zip_code_prefix|       customer_city|customer_state|gender|age|marital_status|customer_state_full|geolocation_zip_code_prefix|geolocation_lat|geolocation_lng|
+-----------+--------------------+--------------------+------------------------+--------------------+--------------+------+---+--------------+-------------------+---------------------------+---------------+---------------+
|          8|00046a560d407e99b...|0b5295fc9819d831f...|                   20540|      rio de janeiro|            RJ|Female| 55|       Married|     Rio de Janeiro|                      20540|   -22.92173311|   -43.25868934|
|         14|00072d033fe2e5906...|b7c13491fd2aecd93...|                   45026|vitoria da conquista|            BA|Female| 62|        Single|              Bahia|                      45026|    -14.8893525|   -40.84248825|
|          7|000419c5494106c30...|14843983d4a159080...|                   24220|             niteroi|            RJ|Female| 20|        Single|     Rio de Janeiro|                      24220|   -22.90581655|   -43.10698886|
|          1|00012a2ce6f8dcda2...|248ffe10d632bebe4...|                    6273|              osasco|            SP|Female| 46|       Married|          Sao Paulo|                       6273|   -23.49968872|   -46.76690136|
|         12|00062b33cb9f6fe97...|f90f55ee274a4ae21...|                    2306|           sao paulo|            SP|Female| 68|      Divorced|          Sao Paulo|                       2306|   -23.45244942|   -46.60149896|
|         15|0009a69b72033b2d0...|fa30145b07cad8e97...|                   13106|            campinas|            SP|Female| 56|       Married|          Sao Paulo|                      13106|    -22.8840332|   -46.95975619|
|         10|000598caf2ef41174...|7e0516b486e92ed3f...|                   35540|            oliveira|            MG|Female| 54|        Single|       Minas Gerais|                      35540|   -20.70743288|   -44.83297587|
|         18|000f17e290c26b285...|74541fbb7526dabec...|                   98400|frederico westphalen|            RS|Female| 68|        Single|  Rio Grande do Sul|                      98400|    -27.3554709|   -53.40427015|
|         17|000e943451fc2788c...|d73c3cf4a0922ece1...|                   99460|            colorado|            RS|Female| 54|       Married|  Rio Grande do Sul|                      99460|   -28.53130875|   -52.99192035|
|          4|0002414f953443074...|4893ad4ea28b2c5b3...|                   39664|            mendonca|            MG|Female| 26|       Married|       Minas Gerais|                      39664|   -21.77059918|   -43.35523022|
|          9|00050bf6e01e69d5c...|e3cf594a99e810f58...|                   98700|                ijui|            RS|Female| 37|        Single|  Rio Grande do Sul|                      98700|   -28.38922766|   -53.92967622|
|         21|001028b78fd413e19...|e57a935f49ffd73b9...|                    5387|           sao paulo|            SP|Female| 47|        Single|          Sao Paulo|                       5387|   -23.56543228|   -46.76565776|
|         19|000fd45d6fedae68f...|cee6fa72fb403ef95...|                   12970|            piracaia|            SP|Female| 35|        Single|          Sao Paulo|                      12970|   -23.05588544|   -46.35910657|
|         16|000bf8121c3412d30...|1bc9b2dad6aefbfbc...|                   12335|             jacarei|            SP|  Male| 33|        Single|          Sao Paulo|                      12335|   -23.26192874|   -45.96848029|
|         11|0005aefbb696d34b3...|616309b2eeb7bd9c0...|                    3052|           sao paulo|            SP|Female| 21|        Single|          Sao Paulo|                       3052|   -23.54135257|   -46.60955538|
|         20|0010068a73b7c56da...|03dabd77cb0ed7a26...|                   63680|             parambu|            CE|Female| 43|        Single|              Ceara|                      63680|   -6.213538995|   -40.69680564|
|          5|000379cdec6255224...|0b83f73b19c2019e1...|                    4841|           sao paulo|            SP|  Male| 43|       Married|          Sao Paulo|                       4841|   -23.74114012|   -46.69050874|
|          6|0004164d20a9e969a...|104bdb7e6a6cdceaa...|                   13272|            valinhos|            SP|Female| 41|       Married|          Sao Paulo|                      13272|   -22.94509412|   -46.99793672|
|          2|000161a058600d590...|b0015e09bb4b6e47c...|                   35550|         itapecerica|            MG|  Male| 57|       Married|       Minas Gerais|                      35550|   -20.47058243|   -45.10871624|
|         13|00066ccbe787a588c...|15090f48004f3b0fc...|                   93525|       novo hamburgo|            RS|Female| 52|       Married|  Rio Grande do Sul|                      93525|   -29.66670799|   -51.12058724|
+-----------+--------------------+--------------------+------------------------+--------------------+--------------+------+---+--------------+-------------------+---------------------------+---------------+---------------+
only showing top 20 rows

In [24]:
joined_customer_geo_df = joined_customer_geo_df.drop("geolocation_zip_code_prefix")

In [25]:
joined_customer_geo_df.show()

+-----------+--------------------+--------------------+------------------------+--------------------+--------------+------+---+--------------+-------------------+---------------+---------------+
|customer_SK|         customer_id|  customer_unique_id|customer_zip_code_prefix|       customer_city|customer_state|gender|age|marital_status|customer_state_full|geolocation_lat|geolocation_lng|
+-----------+--------------------+--------------------+------------------------+--------------------+--------------+------+---+--------------+-------------------+---------------+---------------+
|          8|00046a560d407e99b...|0b5295fc9819d831f...|                   20540|      rio de janeiro|            RJ|Female| 55|       Married|     Rio de Janeiro|   -22.92173311|   -43.25868934|
|         14|00072d033fe2e5906...|b7c13491fd2aecd93...|                   45026|vitoria da conquista|            BA|Female| 62|        Single|              Bahia|    -14.8893525|   -40.84248825|
|          7|000419c5494106c30...|14843983d4a159080...|                   24220|             niteroi|            RJ|Female| 20|        Single|     Rio de Janeiro|   -22.90581655|   -43.10698886|
|          1|00012a2ce6f8dcda2...|248ffe10d632bebe4...|                    6273|              osasco|            SP|Female| 46|       Married|          Sao Paulo|   -23.49968872|   -46.76690136|
|         12|00062b33cb9f6fe97...|f90f55ee274a4ae21...|                    2306|           sao paulo|            SP|Female| 68|      Divorced|          Sao Paulo|   -23.45244942|   -46.60149896|
|         15|0009a69b72033b2d0...|fa30145b07cad8e97...|                   13106|            campinas|            SP|Female| 56|       Married|          Sao Paulo|    -22.8840332|   -46.95975619|
|         10|000598caf2ef41174...|7e0516b486e92ed3f...|                   35540|            oliveira|            MG|Female| 54|        Single|       Minas Gerais|   -20.70743288|   -44.83297587|
|         18|000f17e290c26b285...|74541fbb7526dabec...|                   98400|frederico westphalen|            RS|Female| 68|        Single|  Rio Grande do Sul|    -27.3554709|   -53.40427015|
|         17|000e943451fc2788c...|d73c3cf4a0922ece1...|                   99460|            colorado|            RS|Female| 54|       Married|  Rio Grande do Sul|   -28.53130875|   -52.99192035|
|          4|0002414f953443074...|4893ad4ea28b2c5b3...|                   39664|            mendonca|            MG|Female| 26|       Married|       Minas Gerais|   -21.77059918|   -43.35523022|
|          9|00050bf6e01e69d5c...|e3cf594a99e810f58...|                   98700|                ijui|            RS|Female| 37|        Single|  Rio Grande do Sul|   -28.38922766|   -53.92967622|
|         21|001028b78fd413e19...|e57a935f49ffd73b9...|                    5387|           sao paulo|            SP|Female| 47|        Single|          Sao Paulo|   -23.56543228|   -46.76565776|
|         19|000fd45d6fedae68f...|cee6fa72fb403ef95...|                   12970|            piracaia|            SP|Female| 35|        Single|          Sao Paulo|   -23.05588544|   -46.35910657|
|         16|000bf8121c3412d30...|1bc9b2dad6aefbfbc...|                   12335|             jacarei|            SP|  Male| 33|        Single|          Sao Paulo|   -23.26192874|   -45.96848029|
|         11|0005aefbb696d34b3...|616309b2eeb7bd9c0...|                    3052|           sao paulo|            SP|Female| 21|        Single|          Sao Paulo|   -23.54135257|   -46.60955538|
|         20|0010068a73b7c56da...|03dabd77cb0ed7a26...|                   63680|             parambu|            CE|Female| 43|        Single|              Ceara|   -6.213538995|   -40.69680564|
|          5|000379cdec6255224...|0b83f73b19c2019e1...|                    4841|           sao paulo|            SP|  Male| 43|       Married|          Sao Paulo|   -23.74114012|   -46.69050874|
|          6|0004164d20a9e969a...|104bdb7e6a6cdceaa...|                   13272|            valinhos|            SP|Female| 41|       Married|          Sao Paulo|   -22.94509412|   -46.99793672|
|          2|000161a058600d590...|b0015e09bb4b6e47c...|                   35550|         itapecerica|            MG|  Male| 57|       Married|       Minas Gerais|   -20.47058243|   -45.10871624|
|         13|00066ccbe787a588c...|15090f48004f3b0fc...|                   93525|       novo hamburgo|            RS|Female| 52|       Married|  Rio Grande do Sul|   -29.66670799|   -51.12058724|
+-----------+--------------------+--------------------+------------------------+--------------------+--------------+------+---+--------------+-------------------+---------------+---------------+
only showing top 20 rows

In [26]:
sorted_df = joined_customer_geo_df.orderBy("customer_SK")
sorted_df.show()

+-----------+--------------------+--------------------+------------------------+--------------------+--------------+------+---+--------------+-------------------+---------------+---------------+
|customer_SK|         customer_id|  customer_unique_id|customer_zip_code_prefix|       customer_city|customer_state|gender|age|marital_status|customer_state_full|geolocation_lat|geolocation_lng|
+-----------+--------------------+--------------------+------------------------+--------------------+--------------+------+---+--------------+-------------------+---------------+---------------+
|          1|00012a2ce6f8dcda2...|248ffe10d632bebe4...|                    6273|              osasco|            SP|Female| 46|       Married|          Sao Paulo|   -23.49968872|   -46.76690136|
|          2|000161a058600d590...|b0015e09bb4b6e47c...|                   35550|         itapecerica|            MG|  Male| 57|       Married|       Minas Gerais|   -20.47058243|   -45.10871624|
|          3|0001fd6190edaaf88...|94b11d37cd61cb299...|                   29830|        nova venecia|            ES|Female| 40|       Married|     Espirito Santo|   -18.71679333|   -40.39796908|
|          4|0002414f953443074...|4893ad4ea28b2c5b3...|                   39664|            mendonca|            MG|Female| 26|       Married|       Minas Gerais|   -21.77059918|   -43.35523022|
|          5|000379cdec6255224...|0b83f73b19c2019e1...|                    4841|           sao paulo|            SP|  Male| 43|       Married|          Sao Paulo|   -23.74114012|   -46.69050874|
|          6|0004164d20a9e969a...|104bdb7e6a6cdceaa...|                   13272|            valinhos|            SP|Female| 41|       Married|          Sao Paulo|   -22.94509412|   -46.99793672|
|          7|000419c5494106c30...|14843983d4a159080...|                   24220|             niteroi|            RJ|Female| 20|        Single|     Rio de Janeiro|   -22.90581655|   -43.10698886|
|          8|00046a560d407e99b...|0b5295fc9819d831f...|                   20540|      rio de janeiro|            RJ|Female| 55|       Married|     Rio de Janeiro|   -22.92173311|   -43.25868934|
|          9|00050bf6e01e69d5c...|e3cf594a99e810f58...|                   98700|                ijui|            RS|Female| 37|        Single|  Rio Grande do Sul|   -28.38922766|   -53.92967622|
|         10|000598caf2ef41174...|7e0516b486e92ed3f...|                   35540|            oliveira|            MG|Female| 54|        Single|       Minas Gerais|   -20.70743288|   -44.83297587|
|         11|0005aefbb696d34b3...|616309b2eeb7bd9c0...|                    3052|           sao paulo|            SP|Female| 21|        Single|          Sao Paulo|   -23.54135257|   -46.60955538|
|         12|00062b33cb9f6fe97...|f90f55ee274a4ae21...|                    2306|           sao paulo|            SP|Female| 68|      Divorced|          Sao Paulo|   -23.45244942|   -46.60149896|
|         13|00066ccbe787a588c...|15090f48004f3b0fc...|                   93525|       novo hamburgo|            RS|Female| 52|       Married|  Rio Grande do Sul|   -29.66670799|   -51.12058724|
|         14|00072d033fe2e5906...|b7c13491fd2aecd93...|                   45026|vitoria da conquista|            BA|Female| 62|        Single|              Bahia|    -14.8893525|   -40.84248825|
|         15|0009a69b72033b2d0...|fa30145b07cad8e97...|                   13106|            campinas|            SP|Female| 56|       Married|          Sao Paulo|    -22.8840332|   -46.95975619|
|         16|000bf8121c3412d30...|1bc9b2dad6aefbfbc...|                   12335|             jacarei|            SP|  Male| 33|        Single|          Sao Paulo|   -23.26192874|   -45.96848029|
|         17|000e943451fc2788c...|d73c3cf4a0922ece1...|                   99460|            colorado|            RS|Female| 54|       Married|  Rio Grande do Sul|   -28.53130875|   -52.99192035|
|         18|000f17e290c26b285...|74541fbb7526dabec...|                   98400|frederico westphalen|            RS|Female| 68|        Single|  Rio Grande do Sul|    -27.3554709|   -53.40427015|
|         19|000fd45d6fedae68f...|cee6fa72fb403ef95...|                   12970|            piracaia|            SP|Female| 35|        Single|          Sao Paulo|   -23.05588544|   -46.35910657|
|         20|0010068a73b7c56da...|03dabd77cb0ed7a26...|                   63680|             parambu|            CE|Female| 43|        Single|              Ceara|   -6.213538995|   -40.69680564|
+-----------+--------------------+--------------------+------------------------+--------------------+--------------+------+---+--------------+-------------------+---------------+---------------+
only showing top 20 rows

In [27]:
#Cheak Nulls
sorted_df.select([count(when(col(c).isNull() | isnan(c), c)).alias(c) for c in sorted_df.columns]).show()

NameError: name 'count' is not defined

In [28]:
#Add SCD
from pyspark.sql.functions import lit, current_date

df_customers_scd = sorted_df.withColumn("start_date", current_date()) \
                   .withColumn("end_date", lit(None).cast("date")) \
                   .withColumn("is_current", lit(True))

df_customers_scd.show()

+-----------+--------------------+--------------------+------------------------+--------------------+--------------+------+---+--------------+-------------------+---------------+---------------+----------+--------+----------+
|customer_SK|         customer_id|  customer_unique_id|customer_zip_code_prefix|       customer_city|customer_state|gender|age|marital_status|customer_state_full|geolocation_lat|geolocation_lng|start_date|end_date|is_current|
+-----------+--------------------+--------------------+------------------------+--------------------+--------------+------+---+--------------+-------------------+---------------+---------------+----------+--------+----------+
|          1|00012a2ce6f8dcda2...|248ffe10d632bebe4...|                    6273|              osasco|            SP|Female| 46|       Married|          Sao Paulo|   -23.49968872|   -46.76690136|2025-04-10|    null|      true|
|          2|000161a058600d590...|b0015e09bb4b6e47c...|                   35550|         itapecerica|            MG|  Male| 57|       Married|       Minas Gerais|   -20.47058243|   -45.10871624|2025-04-10|    null|      true|
|          3|0001fd6190edaaf88...|94b11d37cd61cb299...|                   29830|        nova venecia|            ES|Female| 40|       Married|     Espirito Santo|   -18.71679333|   -40.39796908|2025-04-10|    null|      true|
|          4|0002414f953443074...|4893ad4ea28b2c5b3...|                   39664|            mendonca|            MG|Female| 26|       Married|       Minas Gerais|   -21.77059918|   -43.35523022|2025-04-10|    null|      true|
|          5|000379cdec6255224...|0b83f73b19c2019e1...|                    4841|           sao paulo|            SP|  Male| 43|       Married|          Sao Paulo|   -23.74114012|   -46.69050874|2025-04-10|    null|      true|
|          6|0004164d20a9e969a...|104bdb7e6a6cdceaa...|                   13272|            valinhos|            SP|Female| 41|       Married|          Sao Paulo|   -22.94509412|   -46.99793672|2025-04-10|    null|      true|
|          7|000419c5494106c30...|14843983d4a159080...|                   24220|             niteroi|            RJ|Female| 20|        Single|     Rio de Janeiro|   -22.90581655|   -43.10698886|2025-04-10|    null|      true|
|          8|00046a560d407e99b...|0b5295fc9819d831f...|                   20540|      rio de janeiro|            RJ|Female| 55|       Married|     Rio de Janeiro|   -22.92173311|   -43.25868934|2025-04-10|    null|      true|
|          9|00050bf6e01e69d5c...|e3cf594a99e810f58...|                   98700|                ijui|            RS|Female| 37|        Single|  Rio Grande do Sul|   -28.38922766|   -53.92967622|2025-04-10|    null|      true|
|         10|000598caf2ef41174...|7e0516b486e92ed3f...|                   35540|            oliveira|            MG|Female| 54|        Single|       Minas Gerais|   -20.70743288|   -44.83297587|2025-04-10|    null|      true|
|         11|0005aefbb696d34b3...|616309b2eeb7bd9c0...|                    3052|           sao paulo|            SP|Female| 21|        Single|          Sao Paulo|   -23.54135257|   -46.60955538|2025-04-10|    null|      true|
|         12|00062b33cb9f6fe97...|f90f55ee274a4ae21...|                    2306|           sao paulo|            SP|Female| 68|      Divorced|          Sao Paulo|   -23.45244942|   -46.60149896|2025-04-10|    null|      true|
|         13|00066ccbe787a588c...|15090f48004f3b0fc...|                   93525|       novo hamburgo|            RS|Female| 52|       Married|  Rio Grande do Sul|   -29.66670799|   -51.12058724|2025-04-10|    null|      true|
|         14|00072d033fe2e5906...|b7c13491fd2aecd93...|                   45026|vitoria da conquista|            BA|Female| 62|        Single|              Bahia|    -14.8893525|   -40.84248825|2025-04-10|    null|      true|
|         15|0009a69b72033b2d0...|fa30145b07cad8e97...|                   13106|            campinas|            SP|Female| 56|       Married|          Sao Paulo|    -22.8840332|   -46.95975619|2025-04-10|    null|      true|
|         16|000bf8121c3412d30...|1bc9b2dad6aefbfbc...|                   12335|             jacarei|            SP|  Male| 33|        Single|          Sao Paulo|   -23.26192874|   -45.96848029|2025-04-10|    null|      true|
|         17|000e943451fc2788c...|d73c3cf4a0922ece1...|                   99460|            colorado|            RS|Female| 54|       Married|  Rio Grande do Sul|   -28.53130875|   -52.99192035|2025-04-10|    null|      true|
|         18|000f17e290c26b285...|74541fbb7526dabec...|                   98400|frederico westphalen|            RS|Female| 68|        Single|  Rio Grande do Sul|    -27.3554709|   -53.40427015|2025-04-10|    null|      true|
|         19|000fd45d6fedae68f...|cee6fa72fb403ef95...|                   12970|            piracaia|            SP|Female| 35|        Single|          Sao Paulo|   -23.05588544|   -46.35910657|2025-04-10|    null|      true|
|         20|0010068a73b7c56da...|03dabd77cb0ed7a26...|                   63680|             parambu|            CE|Female| 43|        Single|              Ceara|   -6.213538995|   -40.69680564|2025-04-10|    null|      true|
+-----------+--------------------+--------------------+------------------------+--------------------+--------------+------+---+--------------+-------------------+---------------+---------------+----------+--------+----------+
only showing top 20 rows

- sellers Transformation

In [29]:
#Map abbreviations to full state names using `when`
df_sellers_full_state = df_sellers.withColumn("seller_state_full",
    when(col("seller_state") == "AC", "Acre")
    .when(col("seller_state") == "AL", "Alagoas")
    .when(col("seller_state") == "AP", "Amapa")
    .when(col("seller_state") == "AM", "Amazonas")
    .when(col("seller_state") == "BA", "Bahia")
    .when(col("seller_state") == "CE", "Ceara")
    .when(col("seller_state") == "DF", "Distrito Federal")
    .when(col("seller_state") == "ES", "Espirito Santo")
    .when(col("seller_state") == "GO", "Goias")
    .when(col("seller_state") == "MA", "Maranhao")
    .when(col("seller_state") == "MT", "Mato Grosso")
    .when(col("seller_state") == "MS", "Mato Grosso do Sul")
    .when(col("seller_state") == "MG", "Minas Gerais")
    .when(col("seller_state") == "PA", "Para")
    .when(col("seller_state") == "PB", "Paraiba")
    .when(col("seller_state") == "PR", "Parana")
    .when(col("seller_state") == "PE", "Pernambuco")
    .when(col("seller_state") == "PI", "Piaui")
    .when(col("seller_state") == "RJ", "Rio de Janeiro")
    .when(col("seller_state") == "RN", "Rio Grande do Norte")
    .when(col("seller_state") == "RS", "Rio Grande do Sul")
    .when(col("seller_state") == "RO", "Rondonia")
    .when(col("seller_state") == "RR", "Roraima")
    .when(col("seller_state") == "SC", "Santa Catarina")
    .when(col("seller_state") == "SP", "Sao Paulo")
    .when(col("seller_state") == "SE", "Sergipe")
    .when(col("seller_state") == "TO", "Tocantins")
)

In [30]:
df_sellers_full_state.show()

+--------------------+----------------------+-----------------+------------+-----------------+
|           seller_id|seller_zip_code_prefix|      seller_city|seller_state|seller_state_full|
+--------------------+----------------------+-----------------+------------+-----------------+
|c35affa65afd25015...|                  8050|        sao paulo|          SP|        Sao Paulo|
|ceb7b4fb9401cd378...|                 22790|   rio de janeiro|          RJ|   Rio de Janeiro|
|e9874ae10b2d60d43...|                 86604|         rolandia|          PR|           Parana|
|da4d149c0ddbac905...|                  9861|              sbc|          SP|        Sao Paulo|
|e0878efa0e0b7e531...|                 80230|         curitiba|          PR|           Parana|
|3442f8959a84dea7e...|                 13023|         campinas|          SP|        Sao Paulo|
|d1b65fc7debc3361e...|                 13844|       mogi guacu|          SP|        Sao Paulo|
|ce3ad9de960102d06...|                 20031|   rio de janeiro|          RJ|   Rio de Janeiro|
|c0f3eea2e14555b6f...|                  4195|        sao paulo|          SP|        Sao Paulo|
|51a04a8a6bdcb23de...|                 12914|braganca paulista|          SP|        Sao Paulo|
|c240c4061717ac180...|                 20920|   rio de janeiro|          RJ|   Rio de Janeiro|
|e49c26c3edfa46d22...|                 55325|           brejao|          PE|       Pernambuco|
|1b938a7ec6ac5061a...|                 16304|        penapolis|          SP|        Sao Paulo|
|768a86e36ad6aae3d...|                  1529|        sao paulo|          SP|        Sao Paulo|
|ccc4bbb5f32a6ab2b...|                 80310|         curitiba|          PR|           Parana|
|8cb7c5ddf41f4d506...|                 75110|         anapolis|          GO|            Goias|
|a7a9b880c49781da6...|                 13530|        itirapina|          SP|        Sao Paulo|
|8bd0f31cf0a614c65...|                  1222|        sao paulo|          SP|        Sao Paulo|
|05a48cc8859962767...|                  5372|        sao paulo|          SP|        Sao Paulo|
|7b8e8ec35bad4b0ef...|                 88705|          tubarao|          SC|   Santa Catarina|
+--------------------+----------------------+-----------------+------------+-----------------+
only showing top 20 rows

In [31]:
# Join Sellers(after transformation) with geo
joined_sellers_geo_df = df_sellers_full_state.join(df_geo.select('geolocation_zip_code_prefix','geolocation_lat','geolocation_lng'), df_sellers_full_state["seller_zip_code_prefix"] == df_geo["geolocation_zip_code_prefix"], "left")

In [32]:
joined_sellers_geo_df.show()

+--------------------+----------------------+-----------------+------------+-----------------+---------------------------+---------------+---------------+
|           seller_id|seller_zip_code_prefix|      seller_city|seller_state|seller_state_full|geolocation_zip_code_prefix|geolocation_lat|geolocation_lng|
+--------------------+----------------------+-----------------+------------+-----------------+---------------------------+---------------+---------------+
|8bd0f31cf0a614c65...|                  1222|        sao paulo|          SP|        Sao Paulo|                       1222|   -23.54715958|   -46.64989461|
|768a86e36ad6aae3d...|                  1529|        sao paulo|          SP|        Sao Paulo|                       1529|   -23.56935316|   -46.63690014|
|c0f3eea2e14555b6f...|                  4195|        sao paulo|          SP|        Sao Paulo|                       4195|   -23.65725018|   -46.61075945|
|05a48cc8859962767...|                  5372|        sao paulo|          SP|        Sao Paulo|                       5372|   -23.58316603|   -46.76124388|
|c35affa65afd25015...|                  8050|        sao paulo|          SP|        Sao Paulo|                       8050|   -23.51101953|   -46.46270108|
|da4d149c0ddbac905...|                  9861|              sbc|          SP|        Sao Paulo|                       9861|   -23.69588905|   -46.58174395|
|51a04a8a6bdcb23de...|                 12914|braganca paulista|          SP|        Sao Paulo|                      12914|   -22.97164751|   -46.53361841|
|3442f8959a84dea7e...|                 13023|         campinas|          SP|        Sao Paulo|                      13023|   -22.89853643|   -47.06312517|
|a7a9b880c49781da6...|                 13530|        itirapina|          SP|        Sao Paulo|                      13530|   -22.24952039|   -47.81123678|
|d1b65fc7debc3361e...|                 13844|       mogi guacu|          SP|        Sao Paulo|                      13844|   -22.38294112|   -46.94664125|
|1b938a7ec6ac5061a...|                 16304|        penapolis|          SP|        Sao Paulo|                      16304|   -21.44212438|   -50.07351409|
|ce3ad9de960102d06...|                 20031|   rio de janeiro|          RJ|   Rio de Janeiro|                      20031|   -22.91064097|   -43.17650983|
|c240c4061717ac180...|                 20920|   rio de janeiro|          RJ|   Rio de Janeiro|                      20920|   -22.89141262|   -43.22976146|
|ceb7b4fb9401cd378...|                 22790|   rio de janeiro|          RJ|   Rio de Janeiro|                      22790|   -23.01133469|   -43.45025642|
|1444c08e64d55fb3c...|                 42738| lauro de freitas|          BA|            Bahia|                      42738|   -12.89511259|      -38.33896|
|e49c26c3edfa46d22...|                 55325|           brejao|          PE|       Pernambuco|                      55325|   -9.024839005|   -36.57020045|
|8cb7c5ddf41f4d506...|                 75110|         anapolis|          GO|            Goias|                      75110|   -16.32794215|   -48.93600324|
|e0878efa0e0b7e531...|                 80230|         curitiba|          PR|           Parana|                      80230|   -25.44041155|   -49.27281542|
|ccc4bbb5f32a6ab2b...|                 80310|         curitiba|          PR|           Parana|                      80310|   -25.46402932|   -49.30472795|
|e9874ae10b2d60d43...|                 86604|         rolandia|          PR|           Parana|                      86604|   -23.32035842|   -51.38586195|
+--------------------+----------------------+-----------------+------------+-----------------+---------------------------+---------------+---------------+
only showing top 20 rows

In [33]:
joined_sellers_geo_df = joined_sellers_geo_df.drop("geolocation_zip_code_prefix")
joined_sellers_geo_df.show()

+--------------------+----------------------+-----------------+------------+-----------------+---------------+---------------+
|           seller_id|seller_zip_code_prefix|      seller_city|seller_state|seller_state_full|geolocation_lat|geolocation_lng|
+--------------------+----------------------+-----------------+------------+-----------------+---------------+---------------+
|8bd0f31cf0a614c65...|                  1222|        sao paulo|          SP|        Sao Paulo|   -23.54715958|   -46.64989461|
|768a86e36ad6aae3d...|                  1529|        sao paulo|          SP|        Sao Paulo|   -23.56935316|   -46.63690014|
|c0f3eea2e14555b6f...|                  4195|        sao paulo|          SP|        Sao Paulo|   -23.65725018|   -46.61075945|
|05a48cc8859962767...|                  5372|        sao paulo|          SP|        Sao Paulo|   -23.58316603|   -46.76124388|
|c35affa65afd25015...|                  8050|        sao paulo|          SP|        Sao Paulo|   -23.51101953|   -46.46270108|
|da4d149c0ddbac905...|                  9861|              sbc|          SP|        Sao Paulo|   -23.69588905|   -46.58174395|
|51a04a8a6bdcb23de...|                 12914|braganca paulista|          SP|        Sao Paulo|   -22.97164751|   -46.53361841|
|3442f8959a84dea7e...|                 13023|         campinas|          SP|        Sao Paulo|   -22.89853643|   -47.06312517|
|a7a9b880c49781da6...|                 13530|        itirapina|          SP|        Sao Paulo|   -22.24952039|   -47.81123678|
|d1b65fc7debc3361e...|                 13844|       mogi guacu|          SP|        Sao Paulo|   -22.38294112|   -46.94664125|
|1b938a7ec6ac5061a...|                 16304|        penapolis|          SP|        Sao Paulo|   -21.44212438|   -50.07351409|
|ce3ad9de960102d06...|                 20031|   rio de janeiro|          RJ|   Rio de Janeiro|   -22.91064097|   -43.17650983|
|c240c4061717ac180...|                 20920|   rio de janeiro|          RJ|   Rio de Janeiro|   -22.89141262|   -43.22976146|
|ceb7b4fb9401cd378...|                 22790|   rio de janeiro|          RJ|   Rio de Janeiro|   -23.01133469|   -43.45025642|
|1444c08e64d55fb3c...|                 42738| lauro de freitas|          BA|            Bahia|   -12.89511259|      -38.33896|
|e49c26c3edfa46d22...|                 55325|           brejao|          PE|       Pernambuco|   -9.024839005|   -36.57020045|
|8cb7c5ddf41f4d506...|                 75110|         anapolis|          GO|            Goias|   -16.32794215|   -48.93600324|
|e0878efa0e0b7e531...|                 80230|         curitiba|          PR|           Parana|   -25.44041155|   -49.27281542|
|ccc4bbb5f32a6ab2b...|                 80310|         curitiba|          PR|           Parana|   -25.46402932|   -49.30472795|
|e9874ae10b2d60d43...|                 86604|         rolandia|          PR|           Parana|   -23.32035842|   -51.38586195|
+--------------------+----------------------+-----------------+------------+-----------------+---------------+---------------+
only showing top 20 rows

In [34]:
#Add SK column to sellers df
windowSpec_sellers = Window.orderBy("seller_id")
df_sellers_with_sk = joined_sellers_geo_df.withColumn("Seller_SK", row_number().over(windowSpec_sellers))
df_sellers_with_sk.show()

+--------------------+----------------------+--------------------+------------+-----------------+---------------+---------------+---------+
|           seller_id|seller_zip_code_prefix|         seller_city|seller_state|seller_state_full|geolocation_lat|geolocation_lng|Seller_SK|
+--------------------+----------------------+--------------------+------------+-----------------+---------------+---------------+---------+
|0015a82c2db000af6...|                  9080|         santo andre|          SP|        Sao Paulo|   -23.64443891|   -46.53988531|        1|
|001cca7ae9ae17fb1...|                 29156|           cariacica|          ES|   Espirito Santo|   -20.29753658|   -40.40086854|        2|
|001e6ad469a905060...|                 24754|         sao goncalo|          RJ|   Rio de Janeiro|   -22.87403983|    -43.0330893|        3|
|002100f778ceb8431...|                 14405|              franca|          SP|        Sao Paulo|   -20.50679363|   -47.40773764|        4|
|003554e2dce176b55...|                 74565|             goiania|          GO|            Goias|    -16.6484115|   -49.31119125|        5|
|004c9cd9d87a3c30c...|                 14940|            ibitinga|          SP|        Sao Paulo|   -21.76647685|   -48.83154738|        6|
|00720abe85ba08598...|                  7070|           guarulhos|          SP|        Sao Paulo|   -23.45179751|   -46.55390065|        7|
|00ab3eff1b5192e5f...|                  4164|           sao paulo|          SP|        Sao Paulo|    -23.6234373|   -46.60877366|        8|
|00d8b143d12632bad...|                 30170|      belo horizonte|          MG|     Minas Gerais|    -19.9244923|   -43.94703961|        9|
|00ee68308b45bc5e2...|                  3333|           sao paulo|          SP|        Sao Paulo|      -23.55685|   -46.56941527|       10|
|00fc707aaaad2d313...|                 87025|             maringa|          PR|           Parana|     -23.377397|   -51.93100618|       11|
|010543a62bd80aa42...|                  1212|           sao paulo|          SP|        Sao Paulo|   -23.53751126|   -46.63705731|       12|
|010da0602d7774602...|                  9710|sao bernardo do c...|          SP|        Sao Paulo|   -23.70899726|   -46.54812621|       13|
|011b0eaba87386a2a...|                 17580|             pompeia|          SP|        Sao Paulo|   -22.10502157|   -50.17388669|       14|
|01266d4c46afa5196...|                 80250|            curitiba|          PR|           Parana|   -25.43896815|   -49.27448441|       15|
|013900e863eace745...|                 80740|            curitiba|          PR|           Parana|   -25.44145497|   -49.31273063|       16|
|014c0679dd340a0e3...|                 35180|             timoteo|          MG|     Minas Gerais|   -19.54373078|   -42.65162109|       17|
|014d9a685fd572766...|                 87015|             maringa|          PR|           Parana|   -23.42880634|   -51.97183135|       18|
|0176f73cc1195f367...|                 14940|            ibitinga|          SP|        Sao Paulo|   -21.76647685|   -48.83154738|       19|
|01bcc9d254a0143f0...|                 76400|              uruacu|          GO|            Goias|   -14.51852287|    -49.1319174|       20|
+--------------------+----------------------+--------------------+------------+-----------------+---------------+---------------+---------+
only showing top 20 rows

In [35]:
# Get all column names, move 'sk' to the front
cols = df_sellers_with_sk.columns
cols = ['Seller_SK'] + [col for col in cols if col != 'Seller_SK']

# Reorder the DataFrame
df_reordered_sellers = df_sellers_with_sk.select(cols)
df_reordered_sellers.show()

+---------+--------------------+----------------------+--------------------+------------+-----------------+---------------+---------------+
|Seller_SK|           seller_id|seller_zip_code_prefix|         seller_city|seller_state|seller_state_full|geolocation_lat|geolocation_lng|
+---------+--------------------+----------------------+--------------------+------------+-----------------+---------------+---------------+
|        1|0015a82c2db000af6...|                  9080|         santo andre|          SP|        Sao Paulo|   -23.64443891|   -46.53988531|
|        2|001cca7ae9ae17fb1...|                 29156|           cariacica|          ES|   Espirito Santo|   -20.29753658|   -40.40086854|
|        3|001e6ad469a905060...|                 24754|         sao goncalo|          RJ|   Rio de Janeiro|   -22.87403983|    -43.0330893|
|        4|002100f778ceb8431...|                 14405|              franca|          SP|        Sao Paulo|   -20.50679363|   -47.40773764|
|        5|003554e2dce176b55...|                 74565|             goiania|          GO|            Goias|    -16.6484115|   -49.31119125|
|        6|004c9cd9d87a3c30c...|                 14940|            ibitinga|          SP|        Sao Paulo|   -21.76647685|   -48.83154738|
|        7|00720abe85ba08598...|                  7070|           guarulhos|          SP|        Sao Paulo|   -23.45179751|   -46.55390065|
|        8|00ab3eff1b5192e5f...|                  4164|           sao paulo|          SP|        Sao Paulo|    -23.6234373|   -46.60877366|
|        9|00d8b143d12632bad...|                 30170|      belo horizonte|          MG|     Minas Gerais|    -19.9244923|   -43.94703961|
|       10|00ee68308b45bc5e2...|                  3333|           sao paulo|          SP|        Sao Paulo|      -23.55685|   -46.56941527|
|       11|00fc707aaaad2d313...|                 87025|             maringa|          PR|           Parana|     -23.377397|   -51.93100618|
|       12|010543a62bd80aa42...|                  1212|           sao paulo|          SP|        Sao Paulo|   -23.53751126|   -46.63705731|
|       13|010da0602d7774602...|                  9710|sao bernardo do c...|          SP|        Sao Paulo|   -23.70899726|   -46.54812621|
|       14|011b0eaba87386a2a...|                 17580|             pompeia|          SP|        Sao Paulo|   -22.10502157|   -50.17388669|
|       15|01266d4c46afa5196...|                 80250|            curitiba|          PR|           Parana|   -25.43896815|   -49.27448441|
|       16|013900e863eace745...|                 80740|            curitiba|          PR|           Parana|   -25.44145497|   -49.31273063|
|       17|014c0679dd340a0e3...|                 35180|             timoteo|          MG|     Minas Gerais|   -19.54373078|   -42.65162109|
|       18|014d9a685fd572766...|                 87015|             maringa|          PR|           Parana|   -23.42880634|   -51.97183135|
|       19|0176f73cc1195f367...|                 14940|            ibitinga|          SP|        Sao Paulo|   -21.76647685|   -48.83154738|
|       20|01bcc9d254a0143f0...|                 76400|              uruacu|          GO|            Goias|   -14.51852287|    -49.1319174|
+---------+--------------------+----------------------+--------------------+------------+-----------------+---------------+---------------+
only showing top 20 rows

In [36]:
#Add SCD
df_sellers_scd = df_reordered_sellers.withColumn("start_date", current_date()) \
                   .withColumn("end_date", lit(None).cast("date")) \
                   .withColumn("is_current", lit(True))

df_sellers_scd.show()

+---------+--------------------+----------------------+--------------------+------------+-----------------+---------------+---------------+----------+--------+----------+
|Seller_SK|           seller_id|seller_zip_code_prefix|         seller_city|seller_state|seller_state_full|geolocation_lat|geolocation_lng|start_date|end_date|is_current|
+---------+--------------------+----------------------+--------------------+------------+-----------------+---------------+---------------+----------+--------+----------+
|        1|0015a82c2db000af6...|                  9080|         santo andre|          SP|        Sao Paulo|   -23.64443891|   -46.53988531|2025-04-10|    null|      true|
|        2|001cca7ae9ae17fb1...|                 29156|           cariacica|          ES|   Espirito Santo|   -20.29753658|   -40.40086854|2025-04-10|    null|      true|
|        3|001e6ad469a905060...|                 24754|         sao goncalo|          RJ|   Rio de Janeiro|   -22.87403983|    -43.0330893|2025-04-10|    null|      true|
|        4|002100f778ceb8431...|                 14405|              franca|          SP|        Sao Paulo|   -20.50679363|   -47.40773764|2025-04-10|    null|      true|
|        5|003554e2dce176b55...|                 74565|             goiania|          GO|            Goias|    -16.6484115|   -49.31119125|2025-04-10|    null|      true|
|        6|004c9cd9d87a3c30c...|                 14940|            ibitinga|          SP|        Sao Paulo|   -21.76647685|   -48.83154738|2025-04-10|    null|      true|
|        7|00720abe85ba08598...|                  7070|           guarulhos|          SP|        Sao Paulo|   -23.45179751|   -46.55390065|2025-04-10|    null|      true|
|        8|00ab3eff1b5192e5f...|                  4164|           sao paulo|          SP|        Sao Paulo|    -23.6234373|   -46.60877366|2025-04-10|    null|      true|
|        9|00d8b143d12632bad...|                 30170|      belo horizonte|          MG|     Minas Gerais|    -19.9244923|   -43.94703961|2025-04-10|    null|      true|
|       10|00ee68308b45bc5e2...|                  3333|           sao paulo|          SP|        Sao Paulo|      -23.55685|   -46.56941527|2025-04-10|    null|      true|
|       11|00fc707aaaad2d313...|                 87025|             maringa|          PR|           Parana|     -23.377397|   -51.93100618|2025-04-10|    null|      true|
|       12|010543a62bd80aa42...|                  1212|           sao paulo|          SP|        Sao Paulo|   -23.53751126|   -46.63705731|2025-04-10|    null|      true|
|       13|010da0602d7774602...|                  9710|sao bernardo do c...|          SP|        Sao Paulo|   -23.70899726|   -46.54812621|2025-04-10|    null|      true|
|       14|011b0eaba87386a2a...|                 17580|             pompeia|          SP|        Sao Paulo|   -22.10502157|   -50.17388669|2025-04-10|    null|      true|
|       15|01266d4c46afa5196...|                 80250|            curitiba|          PR|           Parana|   -25.43896815|   -49.27448441|2025-04-10|    null|      true|
|       16|013900e863eace745...|                 80740|            curitiba|          PR|           Parana|   -25.44145497|   -49.31273063|2025-04-10|    null|      true|
|       17|014c0679dd340a0e3...|                 35180|             timoteo|          MG|     Minas Gerais|   -19.54373078|   -42.65162109|2025-04-10|    null|      true|
|       18|014d9a685fd572766...|                 87015|             maringa|          PR|           Parana|   -23.42880634|   -51.97183135|2025-04-10|    null|      true|
|       19|0176f73cc1195f367...|                 14940|            ibitinga|          SP|        Sao Paulo|   -21.76647685|   -48.83154738|2025-04-10|    null|      true|
|       20|01bcc9d254a0143f0...|                 76400|              uruacu|          GO|            Goias|   -14.51852287|    -49.1319174|2025-04-10|    null|      true|
+---------+--------------------+----------------------+--------------------+------------+-----------------+---------------+---------------+----------+--------+----------+
only showing top 20 rows

# load

- show final schema

In [39]:
#customer
df_customers_scd.printSchema()

root
 |-- customer_SK: integer (nullable = false)
 |-- customer_id: string (nullable = true)
 |-- customer_unique_id: string (nullable = true)
 |-- customer_zip_code_prefix: integer (nullable = true)
 |-- customer_city: string (nullable = true)
 |-- customer_state: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- marital_status: string (nullable = true)
 |-- customer_state_full: string (nullable = true)
 |-- geolocation_lat: double (nullable = true)
 |-- geolocation_lng: double (nullable = true)
 |-- start_date: date (nullable = false)
 |-- end_date: date (nullable = true)
 |-- is_current: boolean (nullable = false)

In [40]:
#seller
df_sellers_scd.printSchema()

root
 |-- Seller_SK: integer (nullable = false)
 |-- seller_id: string (nullable = true)
 |-- seller_zip_code_prefix: integer (nullable = true)
 |-- seller_city: string (nullable = true)
 |-- seller_state: string (nullable = true)
 |-- seller_state_full: string (nullable = true)
 |-- geolocation_lat: double (nullable = true)
 |-- geolocation_lng: double (nullable = true)
 |-- start_date: date (nullable = false)
 |-- end_date: date (nullable = true)
 |-- is_current: boolean (nullable = false)

- df to load:

In [ ]:
df_customers_scd

In [ ]:
df_sellers_scd